<!-- FOOTER -->
<footer class="footer">
    <div class="footer-contact">
        <div class="footer-contact__wrapper">
            <div class="logo">
                <img src="/assets/Lingeria.png"/>
            </div>
            <div class="contact">
                <div>
                    <img src="/assets/instagram.svg"/>
                    <p>beautyland.ukraine</p>
                </div>
                <div>
                    <img src="/assets/Phone.png"/>
                    <p>+380 39 600 39 83</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-menu">
        <div class="footer-menu__wrapper">
            <div class="footer-menu">
                <a>Доставка и оплата</a>
                <a>О нас</a>
                <a>Sale</a>
            </div>
            <div class="footer-copyright">
                Copyright © 2003-2020  | Сделано с любовью.
            </div>
        </div>
    </div>

</footer>
<!-- /FOOTER -->
