<!-- HEADER -->
<header class="header">
    <div class="header-contact">
        <div class="contact">
            <div class="contact__wrapper">
                <div>
                    <img src="/assets/instagram.svg"/>
                    <p>beautyland.ukraine</p>
                </div>
                <div>
                    <img src="/assets/Phone.png"/>
                    <p>+380 39 600 39 83</p>
                </div>
            </div>
            <div class="cabinet">
                <p>Доставка и оплата</p>
                <p>О нас</p>
                <div>
                    <img src="/assets/Phone.png"/>
                    <p>О нас</p>
                </div>
                <div class="search"><img src="/assets/Phone.png"/></div>
                <div class="save"><img src="/assets/Phone.png"/></div>
                <div class="likes"><img src="/assets/Phone.png"/></div>
                <div class="cart"><img src="/assets/Phone.png"/></div>
            </div>
        </div>

    </div>
    <div class="header-menu">
        <div class="header-menu__wrapper">
            <div class="logo">
                <img src="/assets/Lingeria.png"/>
            </div>
            <ul>
                <li><a href="#">Бюсты</a></li>
                <li><a href="#">Трусики</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn"><a href="#">Пижамы</a><img src="/assets/dropdown-arrow.svg"/></button>
                        <div class="dropdown-content">
                            <a href="#">Пижамы с шортами</a>
                            <a href="#">Пижамы с шортами</a>
                        </div>
                    </div>
                </li>
                <li><a href="#">Комплекты белья</a></li>
                <li><a href="#">Халаты</a></li>
                <li><a href="#">Сорочки</a></li>
                <li><a href="#">Топы</a></li>
                <li><a href="#">Спорт</a></li>
                <li><a href="#">Мужское бельё</a></li>
                <li><a href="#">Другое, аксессуары</a></li>
                <li><a href="#">Sale</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- /HEADER -->

