<section class="category-main">
    <div class="category-main__wrapper">
        <h2>Категории</h2>
        <div class="category-main__cards">
            <div class="category-card">
                <img src="/assets/category-pic2.png"/>
                <div class="category-card__inner">
                    <img src="/assets/category-logo1.svg"/>
                    <h3>Intimo</h3>
                    <p>Комплекты белья</p>
                </div>
            </div>
            <div class="category-card">
                <img src="/assets/category-pic1.png"/>
                <div class="category-card__inner">
                    <img src="/assets/category-logo2.svg"/>
                    <h3>Chill</h3>
                    <p>Бюсты</p>
                </div>
            </div>
            <div class="category-card">
                <img src="/assets/category-pic2.png"/>
                <div class="category-card__inner">
                    <img src="/assets/category-logo1.svg"/>
                    <h3>Intimo</h3>
                    <p>Комплекты белья</p>
                </div>
            </div>
            <div class="category-card">
                <img src="/assets/category-pic2.png"/>
                <div class="category-card__inner">
                    <img src="/assets/category-logo1.svg"/>
                    <h3>Intimo</h3>
                    <p>Комплекты белья</p>
                </div>
            </div>
            <div class="category-card">
                <img src="/assets/category-pic1.png"/>
                <div class="category-card__inner">
                    <img src="/assets/category-logo2.svg"/>
                    <h3>Chill</h3>
                    <p>Бюсты</p>
                </div>
            </div>
            <div class="category-card some-category">
                <img src="/assets/category-pic2.png"/>
                <div class="category-card__inner">
                    <a href="#" class="some-cards">
                        <p>Еще 5 категорий</p>
                        <img src="/assets/Arrow 1.svg"/>
                    </a>
                    <div id="triangle-bottomright"></div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="new-main">
    <div class="new-main__wrapper">
        <h2>Что нового?</h2>
        <div class="new-main__cards">
            <div class="new-card">
                <img src="/assets/new-pic4.png"/>
                <div class="new-card__inner">
                    <div class="new-card__size-likes">
                        <ul>
                            <li>75В</li>
                            <li class="none-size">80В</li>
                            <li>75С</li>
                            <li class="none-size">80С</li>
                            <li class="none-size">85С</li>
                        </ul>
                        <div class="new-card-likes">
                            <img src="/assets/non-like.svg"/>
                        </div>
                    </div>

                    <ol>
                        <li class="checked" style="background: #C39EA3">
                            <div style="border: 1px solid #C39EA3;"></div>
                        </li>
                        <li class="" style="background: #D6A88E">
                            <div style="border: 1px solid #D6A88E;"></div>
                        </li>
                        <li class="" style="background: #783651">
                            <div style="border: 1px solid #783651;"></div>
                        </li>
                        <li class="" style="background: #18181E">
                            <div style="border: 1px solid #18181E;"></div>
                        </li>
                    </ol>
                    <p>Комплект из кружева</p>
                    <h4>379 грн</h4>
                    <div class="button-fill">купить</div>
                </div>
            </div>
            <div class="new-card">
                <img src="/assets/new-pic3.png"/>
                <div class="new-card__inner">
                    <div class="new-card__size-likes">
                        <ul>
                            <li>75В</li>
                            <li class="none-size">80В</li>
                            <li>75С</li>
                            <li class="none-size">80С</li>
                            <li class="none-size">85С</li>
                        </ul>
                        <div class="new-card-likes">
                            <img src="/assets/non-like.svg"/>
                        </div>
                    </div>

                    <ol>
                        <li class="checked" style="background: #C39EA3">
                            <div style="border: 1px solid #C39EA3;"></div>
                        </li>
                        <li class="" style="background: #D6A88E">
                            <div style="border: 1px solid #D6A88E;"></div>
                        </li>
                        <li class="" style="background: #783651">
                            <div style="border: 1px solid #783651;"></div>
                        </li>
                        <li class="" style="background: #18181E">
                            <div style="border: 1px solid #18181E;"></div>
                        </li>
                    </ol>
                    <p>Бесшовные топы second skin кружевные спереди и гладкие сзади</p>
                    <h4>379 грн</h4>
                    <div class="button-fill">купить</div>
                </div>
            </div>
            <div class="new-card">
                <img src="/assets/new-pic2.png"/>
                <div class="new-card__inner">
                    <div class="new-card__size-likes">
                        <ul>
                            <li>75В</li>
                            <li class="none-size">80В</li>
                            <li>75С</li>
                            <li class="none-size">80С</li>
                            <li class="none-size">85С</li>
                        </ul>
                        <div class="new-card-likes">
                            <img src="/assets/non-like.svg"/>
                        </div>
                    </div>

                    <ol>
                        <li class="checked" style="background: #C39EA3">
                            <div style="border: 1px solid #C39EA3;"></div>
                        </li>
                        <li class="" style="background: #D6A88E">
                            <div style="border: 1px solid #D6A88E;"></div>
                        </li>
                        <li class="" style="background: #783651">
                            <div style="border: 1px solid #783651;"></div>
                        </li>
                        <li class="" style="background: #18181E">
                            <div style="border: 1px solid #18181E;"></div>
                        </li>
                    </ol>
                    <p>Базовые гладкие комплекты в цветах</p>
                    <h4>379 грн</h4>
                    <div class="button-fill">купить</div>
                </div>
            </div>
            <div class="new-card">
                <img src="/assets/new-pic1.png"/>
                <div class="new-card__inner">
                    <div class="new-card__size-likes">
                        <ul>
                            <li>75В</li>
                            <li class="none-size">80В</li>
                            <li>75С</li>
                            <li class="none-size">80С</li>
                            <li class="none-size">85С</li>
                        </ul>
                        <div class="new-card-likes">
                            <img src="/assets/non-like.svg"/>
                        </div>
                    </div>

                    <ol>
                        <li class="checked" style="background: #C39EA3">
                            <div style="border: 1px solid #C39EA3;"></div>
                        </li>
                        <li class="" style="background: #D6A88E">
                            <div style="border: 1px solid #D6A88E;"></div>
                        </li>
                        <li class="" style="background: #783651">
                            <div style="border: 1px solid #783651;"></div>
                        </li>
                        <li class="" style="background: #18181E">
                            <div style="border: 1px solid #18181E;"></div>
                        </li>
                    </ol>
                    <p>Комплект-пижама из майки и шортиков</p>
                    <h4>379 грн</h4>
                    <div class="button-fill">купить</div>
                </div>
            </div>
        </div>
    </div>
</section>