<section class="gallery-block">
  <h2>Мы в Instagram</h2>
  <div class="gallery-block__wrapper">
    <div class="gallery-six">
      <img src="/assets/gallery-menu-1.png"/>
      <img src="/assets/gallery-menu-2.png"/>
      <img src="/assets/gallery-menu-3.png"/>
      <img src="/assets/gallery-menu-4.png"/>
      <img src="/assets/gallery-menu-5.png"/>
      <img src="/assets/gallery-menu-6.png"/>
    </div>
    <div class="gallery-one some-category">
      <img src="/assets/gallery-menu-7.png"/>
      <div class="category-card__inner">
        <a href="#" class="some-cards">
          <p>Посмотреть все</p>
          <img src="/assets/Arrow 1.svg"/>
        </a>
        <div id="triangle-bottomright"></div>

      </div>
    </div>
  </div>
</section>