<section class="info-block">
    <div class="info-block-img">
        <img src="/assets/bg-block-info.png"/>
    </div>
    <div class="circle">
        <svg viewBox="0 0 100 100" width="154" height="154">
            <defs>
                <path id="circle"
                      d="
        M 50, 50
        m -37, 0
        a 37,37 0 1,1 74,0
        a 37,37 0 1,1 -74,0"/>
            </defs>
            <text font-size="17">
                <textPath xlink:href="#circle">
                    Shop lingeria shop lingeria
                </textPath>
            </text>
        </svg>
    </div>
    <div class="info-block__wrapper">
        <img src="/assets/info-block-icon.svg"/>
        <h3>Помогаем женщинам покупать нижнее белье по интернету</h3>
        <p>
            Все марки белья в нашем ассортименте от проверенных производителей. Мы стремимся продавать товары с хорошим
            соотношением цены и качества. Не берем бренды с красивой картинкой и плохой посадкой. Не берем дизайнеров,
            которые не могут обеспечить одинаковое качество всех своих изделий. Работаем с фабриками напрямую, чтобы в
            цену товара не включалась наценка оптовых посредников. Используем продвинутые технологии для учета заказов,
            чтобы ваш заказ не потерялся, о вас не забыли и не тратили ваше время лишними звонками.
        </p>
        <div class="button-over">
            лучшие предложения
        </div>
    </div>
</section>